<section>
  <h1>Players</h1>
  <div class="container">
    <div class="interior">
      <a (click)="newPlayer"></a>
    </div>
  </div>
  <div class="tbl-header">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Last name</th>
          <th>Position</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Nationality</th>
          <th>Left footed</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <tbody>
          <tr *ngFor="let player of (players$|async)">
            <th>{{player.name}}</th>
            <th>{{player.lastName}}</th>
            <th>{{player.position}}</th>
            <th>{{player.weight}}</th>
            <th>{{player.height}}</th>
            <th>{{player.nationality}}</th>
            <th>{{player.leftFooted}}</th>
            <th>
              <button>Edit</button>
              <button>Delete</button>
            </th>
          </tr>
        </tbody>
      </tr>
    </table>
  </div>
</section>
<app-player-dialog></app-player-dialog>
